
README.md
generate-stackbrew-library.sh
arch
bionic/Dockerfile
bionic/ubuntu-bionic-oci-ppc64el-root.tar.gz
bionic/ubuntu-bionic-oci-ppc64el.manifest
focal/Dockerfile
focal/ubuntu-focal-oci-ppc64el-root.tar.gz
focal/ubuntu-focal-oci-ppc64el.manifest
generate-stackbrew-library.sh
groovy/Dockerfile
groovy/ubuntu-groovy-oci-ppc64el-root.tar.gz
groovy/ubuntu-groovy-oci-ppc64el.manifest
hirsute/Dockerfile
hirsute/ubuntu-hirsute-oci-ppc64el-root.tar.gz
hirsute/ubuntu-hirsute-oci-ppc64el.manifest
impish/Dockerfile
impish/ubuntu-impish-oci-ppc64el-root.tar.gz
impish/ubuntu-impish-oci-ppc64el.manifest
trusty/Dockerfile
trusty/ubuntu-trusty-core-cloudimg-ppc64el-root.tar.gz
trusty/ubuntu-trusty-core-cloudimg-ppc64el.manifest
xenial/Dockerfile
xenial/ubuntu-xenial-core-cloudimg-ppc64el-root.tar.gz
xenial/ubuntu-xenial-core-cloudimg-ppc64el.manifest
zesty/alias
